* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 25px;
    padding-bottom: 13px;
    background-color: rgba(0, 0, 0, 0.65);
}

.container {
    max-width: 1170px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    padding-bottom: 23px;
    border-bottom: 2px solid #464646;
    margin-bottom: 23px;
}

header form {
    width: 208px;
    height: 42px;
    border-radius: 4px;
    background-color: #cbcbcb;
}

header form input{
    background-color: transparent;
    border: none;
    line-height: 42px;
    display: inline-block;
    width: 75%;
    padding-left: 7px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Metropolis;
}

header form input:focus,
header form button:focus{
    border: none;
    outline: none;
}

header form button {
    display: inline-block;
    border: none;
    background-color: transparent;
    width: 19%;
    padding-top: 10px;
    color: red;
    font-size: 18px;
}

header .btn {
    font-family: Metropolis;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    text-align: center;

    display: inline-block;
    background-color: #252525;
    color: white;
    border-radius: 4px;
    border: none;
    min-width: 170px;
}
header .btn.grey {
    background-color: #464646;
}
header .btn.red {
    background-color: #fa090a;
}
header .btn i {
    margin-right: 5px;
}

header .container:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    display: inline-block;
    font-family: "Bebas Neue";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

header ul li a:hover, header ul li.active a {
    color: #b1b1b1;
    transition: 0.3s;
}

header ul li a:after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    margin-top: 10px;
    transition: 0.3s;
}
header ul li:hover a:after,
header ul li.active a:after {
    background-color: #ff0000;
}

header .social a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    background-color: #fa090a;
    color: black;
    font-size: 30px;
    text-align: center;
}





