* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 25px;
    padding-bottom: 13px;
    background-color: rgba(0, 0, 0, 0.65);
}

.container {
    max-width: 1170px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header form input{
    display: inline-block;
    font-family: Metropolis;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 42px;
    background-color: #ebebeb;
    color: #959595;
    border-radius: 4px 0 0 4px;
    border: none;
    min-width: 170px;
    padding-left: 15px;
}

header form button {
    box-sizing: border-box;
    padding-right: 12px;
    line-height: 42px;
    border-radius: 0 4px 4px 0;
    border: none;
    font-size: 17px;
    background-color: #ebebeb;
}

header form i {
    color: red;
}

header .btn {
    font-family: Metropolis;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    text-align: center;

    display: inline-block;
    background-color: #252525;
    color: white;
    border-radius: 4px;
    border: none;
    min-width: 170px;
}
header .btn.grey {
    background-color: #464646;
}
header .btn.red {
    background-color: #fa090a;
}
header .btn i {
    margin-right: 5px;
}





